<section data-ng-controller="HomeController">
	
	<section class="bg-image-section">
  		<div class="bg-gradient">
  			<div class="row main-text-container">
  				<div class="col-md-12 main-text">
  					<h1>G A R V I N </h1>
  					<p> is a full-stack javascript developer that also</p>
  					<p> &hearts; 's</p>
  					<p>writing embedded code </p>
  				</div>
   			</div>
  		</div>
	</section>


	<section class="portfolio-section">



<div class="wrap">    
  <!-- Define all of the tiles: -->
  <div class="box" style="background-image:url(/modules/core/img/CLP_mockup.png);" data-ng-class="{clp: hover1}"      ng-mouseenter="hover1 = true"
     ng-mouseleave="hover1 = false">
    <div class="overlay">
      <div class="boxInner">
        <h1>C L P</h1>
      </div>
    </div>
  </div>
  <div class="box" style="background-image:url(/modules/core/img/coffee-display.png);" data-ng-class="{coffeedisplay: hover2}"   ng-mouseenter="hover2 = true"
     ng-mouseleave="hover2 = false">
    <div class="overlay">
      <div class="boxInner">
        <h1>C O F F E E D I S P L A Y</h1>
      </div>
    </div>
  </div>
  <div class="box" style="background-image:url(/modules/core/img/mockup-test.gif);">
    <div class="overlay">
      <div class="boxInner">
        <h1>C L P</h1>
      </div>
    </div>
  </div>

  <div class="box" style="background-image:url(/modules/core/img/mockup-test2.gif);">
    <div class="overlay">
      <div class="boxInner">
        <h1>C L P</h1>
      </div>
    </div>
  </div>
</div>



	</section>






</section>