<section data-ng-controller="HomeController">
	
	<section class="bg-image-section">
  		<div class="bg-gradient">



  			<div class="row main-text-container">
  				<div class="col-md-12 main-text">
  					<h1>G A R V I N </h1>
  					<p> Born too soon to explore the galaxy</p>
  					<!-- <p> &hearts; 's</p> -->
  					<p> Born just in time to write JavaScript</p>

  				</div>
   			</div>
  		</div>
	</section>


<section class="portfolio-section">
  <div class="wrap">    
    <div data-ng-repeat="project in projectCollection track by project.id">
      <a href="" ng-click="clickedProject()">
      <div class="box" ng-init="bg = project.imageURL" 
          ng-mouseenter="bg = project.hoverImageURL" 
          ng-mouseleave="bg = project.imageURL" 
          style="background-image: url({{bg}});">
            <div class="overlay">
              <div class="boxInner">
                <h1>{{project.title}}</h1>
              </div>
            </div>
        </div>
      </a>
    </div>
	</section>



  <section class="timeline-section">
    <div class="row">
      <div class="col-md-4 experience">
        <h1>Work Experience<span class="blinking-cursor">|</span></h1>
        <button class="btn btn-main">Download Resume</button>
      </div>
      <div class="col-md-8">
        <div class="container">
          <ul class="timeline">
            <li data-ng-repeat="job in jobs track by job.id">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{job.company}}</h4>
                  <p><small class="text-muted">{{job.title}}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{job.period}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

 
 <section class="contact">
  <div class="overlay">
    <div class="row">
      <div class="col-md-12">
        <h1>Get in Touch</h1>
        <form>
          <!-- <label for="email">Name</label> -->
          My name is
          <input type="text" name="name"/>, and I am interested in 
          <input type="text" name="subject"/>.
          <br>
          To sign away 100% of your financial assets, type your e-mail in the signature looking box.
          <br><br>
         X <input type="email" name="email" />
          <br><br>
          <button class="btn btn-white" type="submit">Request Carrier Pigeon</button>
        </form>
      </div>
    </div>
  </div>
 </section>


  <section class="footer">
    <div class="row">
      <div class="col-md-12 footer-content">
        Made with 
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        by @garvinling
      </div>
    </div>


  </section>




</section>


