@font-face
{
	font-family:'Debby';
	src: url('../fonts/Debby.ttf');

}

@font-face
{
	font-family:'BEYNO';
	src: url('../fonts/BEYNO.ttf');

}

@font-face
{
	font-family:'ONEDAY';
	src: url('../fonts/ONEDAY.ttf');

}

